<h1><%= @charity.name %></h1>
<% if @charity.logo %>
    <%= image_tag @charity.logo %>
<% end %>
<hr />

<p><%= @charity.description %></p>
<hr />

<% if @charity.site %>
    <iframe src="<%= @charity.site %>" width="100%" height="1000px">
        <%= link_to "charity website", @charity.site %>
    </iframe>
<% end %>
