<div class="scaffold">
<p id="notice"><%= notice %></p>

<h1>
  <% if @charity.logo %>
  <img src="<%= @charity.logo %>" alt="logo" title="logo" />
  <% end %>
  <%= @charity.name %>
</h1>
<hr />
<p>
  <%= @charity.description %>
</p>
<hr />
<% if @charity.site %>
<iframe src="<%= @charity.site %>" width="100%" height="1000px">
  <a href="<% @charity.site %>"
    charity website
  </a>
</iframe>
<% end %>
</div>
