<!DOCTYPE html>
<html lang="en">
<head>
<title>501k | Giving is Better Together</title>
<%= stylesheet_link_tag "screen.css" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%= javascript_include_tag :all %>
<%= csrf_meta_tag %>

<script type = "text/javascript">
    jQuery.noConflict(); // $() notation will refer to Prototype, not jQuery.

    // Define the entry point
    jQuery(document).ready(function()
    {
        // The DOM (document object model) is constructed
        // We will initialize and run our plugin here
        jQuery("#s2").hide();
        jQuery("#s3").hide();

        jQuery("#s1").delay(2000).fadeOut('slow', function() {  
            jQuery("#s2").fadeIn('slow', function() {
                jQuery("#s3").fadeIn('slow');							 
            });
        });
    });
</script>
</head>

<body>

	<div id="fb-root"></div>
	<div id="header" class="container">
	 	<a href="/"><div id="logo"></div></a>
	</div>
	
	<div id="content" class="container">
        <div id="navigation">
            <div class="left">
                <a href="/" class="selected">Home</a>
                <a href="#" class="disabled">Portfolio</a>
                <a href="#" class="disabled">Charity</a>
                <a href="#" class="disabled">About</a>
            </div>
            <div class="right">
                <a href="http://facebook.com/501k.org/" target="_blank" class="facebook">Facebook</a>
                <a href="http://twitter.com/501kplan/" target="_blank" class="twitter">Twitter</a>
                <a href="#" target="_blank" class="feed">Feed</a>
            </div>
        </div>

		<div id="login">
            <% if user_signed_in? %>
                <%= current_user.name %> | <%= link_to "Account", edit_user_registration_path %> | <%= link_to "Sign out", destroy_user_session_path %>
            <% else %>
                <%= link_to "Register", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
            <% end %>
		</div>		
		<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>		
        
        <%= yield %>
        
        <div id="footer">
            <a href="/">Home</a>
            <a href="#" class="disabled">Mission</a>
            <a href="#" class="disabled">Team</a>
            <a href="#" class="disabled">Privacy Policy</a>
            <a href="#" class="disabled">Governance</a>
            <a href="#" class="disabled">Media</a>
            <a href="#" class="disabled">Contact</a>
        </div>
	</div>

    
</body>
</html>
